@media (min-width: 991px) {
    .container {
        max-width: 800px;
    }
}

@font-face {
    font-family: cascadia;
    src: url("/static/res/Cascadia.ttf");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #22272c;
    color: #8c9ea3;
    background: radial-gradient(#2A4158, #22272c);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-family: cascadia;
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 8px 3px -3px #597387;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link-custom {
    color: #597387;
    text-shadow: 0 0 5px #597387;
}

.nav-link-custom:hover {
    color: #7fa8ca;
}

.nav-separator {
    color: #597387;
    text-shadow: 0 0 5px #597387, 0 0 10px #597387;
}

.nav-separator:hover {
    color: #597387;
}

.jumbotron-custom {
    padding-top: 50px;
    text-align: center;
}

.glowing, .glowing-link {
    text-decoration: none;
    color: #597387;
    text-shadow: 0 0 5px #597387;
}

.glowing-link:hover {
    color: #7fa8ca;
    cursor: pointer;
}

.footer-custom {
    box-shadow: 0px -8px 3px -3px #597387;
}

#circle-container {
    z-index: -1;
}